Repository srz-zumix/ci-branch-filter: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: '2.1'
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/path-filtered-config.yml
          mapping: |
            .circleci/.* build-code true
            README.md build-docs true

setup: true
  .circleci/config.yml
Due: build-code

up
  .circleci/config.yml
  README.md
Due: build-code, build-docs

up
  .circleci/config.yml
  .circleci/path-filtered-config.yml
  README.md
Due: build-code, build-docs

up
  .circleci/config.yml
  .circleci/path-filtered-config2.yml
Due: build-code

up
  .circleci/path-filtered-config.yml
  .circleci/path-filtered-config2.yml
Due: build-code

up
  .circleci/config.yml
  .circleci/path-filtered-config1.yml
  .circleci/path-filtered-config2.yml
Due: build-code

test
  .circleci/path-filtered-config1.yml
  .circleci/path-filtered-config2.yml
Due: build-code

fix
  .circleci/config.yml
  .circleci/path-filtered-config1.yml
  .circleci/path-filtered-config2.yml
Due: build-code

conditional test
  .circleci/path-filtered-config1.yml
  .circleci/path-filtered-config2.yml
Due: build-code

fix
  .circleci/path-filtered-config1.yml
  .circleci/path-filtered-config2.yml
Due: build-code

CircleCI path filter (#15)
  .circleci/config.yml
  .circleci/path-filtered-config1.yml
  .circleci/path-filtered-config2.yml
  README.md
Due: build-code, build-docs

update README
  README.md
Due: build-docs

update wercker
  wercker.yml
Due: none

up
  buddy.yml
  jfrog-pipelines.yml
Due: none

remove wercker
  README.md
Due: build-docs
